.small-card {
    width: 180px;
    height: 310px;
    background-color: #ffffff;
    margin-top: 5px;

}

img{
    width: 95px;
    height: auto;
    margin-left: 4ch;
    margin-top: 5px;
}
.small-card .title{
    color: #000000;
    font-size: 14px;
}
