#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.card-container{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  
}
ion-card-title{
    font-size: 15px;
    width: 100px;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}

